<html>
  <head>
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <%=service.name%>
      </div>

      <div class="jumbotron">
        <div>
            <%=service.provider%>
        </div>
      </div>

      <div class="jumbotron">
          <div style="text-align: center;">
              <img alt="" src="<%=service.details.image_url%>" />
            </div>
        <div><%-service.details.description%></div>
      </div>

      <div class="jumbotron">
          <a href="/services">Back to Services page</a>
        </div>

    </div>
  </body>
</html>
